
body{
    color:#222;
}

.box-login{
    padding-top:5em;
}

.site_title i{
    display: inline-block;
    min-width: 35px;
    min-height: 35px;
    text-align: center;
}

.nav-sm .navbar.nav_title a i{
    min-width: 40px;
    min-height: 40px;
}

.ver-info{
    font-size: 16px;
}

.ver-info div{
    padding: 8px 0;
    border-bottom: 1px solid #c3c3c3;
}

.ver-info div span{
    font-weight: 700;
}

.btn{
    font-size: 18px;
}

.btn-primary{
    background-color: #1abb9c;
    border-color: #1abb9c;
    padding: 5px 20px;
}

.btn-primary:hover,
.btn-primary:focus{
    background-color: #109d82;
    border-color: #109d82;
}

.text-error{
    display: none;
    color: red;
}

.ctn-btn-form{
    border-top: 1px solid #cecece;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
}

.text-required{
    font-style: italic;
    margin-bottom: 15px;
}

.form-control {
    height: 39px;
}